<% content_for :header do %>
  <h1 class="font-bold font-intro text-neutral-600 text-2xl">Finish <span class="text-primary-700">setting up</span> your account</h1>
  <p class="text-neutral-400">Complete your personal user account with additional details.</p>
<% end %>

<%= render "form", personal_account: @personal_account %>