<section id="social-auth-buttons">
  <div class="flex justify-between gap-x-4">
    <div class="fixed top-10 right-10">
      <%= button_to '/auth/developer', data: { turbo: false }, class: 'button lg primary text-white' do %>
        Continue with Developer
      <% end %>
    </div>
  </div>
</section>

<div class="flex items-center relative h-8">
  <div class="bg-neutral-50 text-neutral-400 px-8 z-10 text-xs mx-auto font-headings">or</div>
  <div class="absolute text-center border-b h-[1px] w-full"></div>
</div>