<header class="flex flex-col gap-y-1 mb-8">
  <h1 class="text-primary-700 font-bold uppercase text-sm"><%= title %></h1>
  <% if subtitle.present? %>
  <p class="text-sm text-neutral-400"><%= subtitle %></p>
  <% end %>
</header>