<section id="notification-toasts" class="fixed flex flex-col z-50 bottom-0 right-0 p-10 gap-3 w-full max-w-[600px]">
  <% Notification.for_realtime_frame.each do |notification| %>
    <%= render notification %>
  <% end %>
</div>
