<section class="logo-container">
  <%= link_to root_path, class: 'logo-text' do %>
    <i class="fa fa-star"></i>
  <% end %>

  <%= link_to nil, class: "notification-bell" do %>
    <i class="fa fa-bell"></i>
  <% end %>
</section>

<section id="navigations" class="py-8">
  <%= render "shared/sidebar/navigation" %>
</section>