<!DOCTYPE html>
<html>
  <%= render "shared/head" %>
  <body class="application bg-rose-500">
    <aside id="sidebar">
      <%= render "shared/sidebar" %>
    </aside>
    <section id="page">
      <%= render "shared/navbar" %>
      <main>
        <%= yield %>
      </main>
    </section>
  </body>
</html>
